.shop{
    padding: 20px;
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.first-ads{
    width: 100%;
    min-height: 350px;
}

.secendparte{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    min-width: 400px;
}

.firstparte{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 2;
    min-width: 600px;
}

.secend-ads{
    width: 100%;
    min-height: 240px;
}

.therd-ads{
    width: 100%;
    min-height: 240px;
}

.forthe-ads{
    width: 100%;
    min-height: 280px;
}